<!DOCTYPE html>
<html lang="en">
<head>

	<!-- PERHATIKAN STNTAX EJS NYA -->
	<%- include ("./partials/head") %>
</head>
<body>
	<%- include ("./partials/header") %>

	<div class="header-container">
		<div class="content">
			<h1 class="title">Hello world</h1>
			<a href="/users" class="btn btn-primary">Find Data</a>
		</div>
	</div>

	<%- include ("./partials/foot") %>
</body>
</html>